##########################################################################
####    Requirements of this application
##########################################################################

# python3

Pillow
RPI.GPIO